<h1>Clientes</h1>
<!-- <button type="submit" class="btn btn-success" (click)="updateClientList()" >Update</button> -->

<div *ngIf="!add_client && !edit_client">


<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th *ngFor=" let header of header_list" scope="col">{{header}} </th>
    </tr>
    <!-- <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr> -->
  </thead>
  <tbody>
    <tr *ngFor="let client of client_list">
      <td>{{client.identification}}</td>
      <td>{{client.name}}</td>
      <td>{{client.lastname1}}</td>
      <td>{{client.lastname2}}</td>
      <td>{{client.email}}</td>
      <td>{{client.phone}}</td>
      <td><button type="submit" class="btn btn-success" (click)="show_edit_client(client.identification)" >Editar</button>
      <button type="submit" class="btn btn-danger " (click)="delete_client(client.identification)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-success" (click)="add_client=true" >Agregar cliente</button>

</div>


<div class="container" *ngIf="add_client">
<h1>Agregar Cliente</h1>
  <form (ngSubmit)="onSubmitAdd()" #addClientForm="ngForm">


    <div class="form-group">
      <label for="Assn">Cédula</label>
      <input type="text" class="form-control" id="Assn"
             required
             [(ngModel)]="client_to_add.identification" name="Assn"
             #Assn="ngModel" placeholder="123456789" ng-pattern="/^[0-9]{1,9}$/">

      <div *ngIf="Assn.invalid && (Assn.dirty || Assn.touched)"
           class="alert alert-danger">
        La cédula es requerida
      </div>
    </div>


    <div class="form-group">
      <label for="Afname">Nombre</label>
      <input type="text" class="form-control" id="Afname"
             required
             [(ngModel)]="client_to_add.name" name="Afname"
              placeholder="Kristy, Krissia, Verónica" #Afname="ngModel">

      <div [hidden]="Afname.valid || Afname.pristine"
           class="alert alert-danger">
        EL nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for=Alname1>Primer Apellido</label>
      <input type="text" class="form-control" id="Alanme1"
             [(ngModel)]="client_to_add.lastname1" name="Alname1"
             placeholder=" Solis,  Miranda,  Rodriguez" required>
    </div>

    <div class="form-group">
      <label for="Alname2">Segundo Apellido</label>
      <input type="text" class="form-control" id="Alname2"
             [(ngModel)]="client_to_add.lastname2" name="Alanme2"
             placeholder="Rivera, Chachón, Garay" required>
    </div>

    <div class="form-group">
      <label for="Aemail">Correo</label>
      <input type="email" class="form-control" id="Aemail"
             [(ngModel)]="client_to_add.email" name="Aemail"
             placeholder="ejemplo@correo.com" required>

    </div>

    <div class="form-group">
      <label for="APhone">Teléfono</label>
      <input type="phone" class="form-control" id="Aphone"
             [(ngModel)]="client_to_add.phone" name="Aphone"
             placeholder="87654002" required>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!addClientForm.form.valid">Submit</button>
  </form>
</div>


<div class="container" *ngIf="edit_client" >
<h1>Editar Cliente</h1>
  <form (ngSubmit)="onSubmitEdit()" #editClientForm="ngForm">

    <div class="form-group">
      <label for="ssn">Cédula</label>
      <input type="text" class="form-control" id="ssn"
             required [disabled]="true"
             [(ngModel)]="client_to_edit.identification" name="ssn"
             #ssn="ngModel" placeholder="601760756">

      <!-- <div [hidden]="ssn.valid || ssn.pristine"
           class="alert alert-danger">
        La cédula es requerida
      </div> -->
    </div>


    <div class="form-group">
      <label for="fname">Nombre</label>
      <input type="text" class="form-control" id="fname"
             required
             [(ngModel)]="client_to_edit.name" name="fname"
              placeholder="Kristy, Krissia, Verónica">

      <!-- <div [hidden]="fname.valid || fname.pristine"
           class="alert alert-danger">
        EL nombre es requerido
      </div> -->
    </div>

    <div class="form-group">
      <label for=lname1>Primer Apellido</label>
      <input type="text" class="form-control" id="lanme1"
             [(ngModel)]="client_to_edit.lastname1" name="lname1"
             placeholder=" Solis,  Miranda,  Rodriguez" required>
    </div>

    <div class="form-group">
      <label for="lname2">Segundo Apellido</label>
      <input type="text" class="form-control" id="lname2"
             [(ngModel)]="client_to_edit.lastname2" name="lanme2"
             placeholder="Rivera, Chachón, Garay" required>
    </div>

    <div class="form-group">
      <label for="email">Correo</label>
      <input type="text" class="form-control" id="email"
             [(ngModel)]="client_to_edit.email" name="email"
             placeholder="ejemplo@correo.com" required>

    </div>

    <div class="form-group">
      <label for="Phone">Teléfono</label>
      <input type="phone" class="form-control" id="phone"
             [(ngModel)]="client_to_edit.phone" name="phone"
             placeholder="87654002" required>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!editClientForm.form.valid">Submit</button>
  </form>
</div>
