
<div *ngIf="!add_material && !edit_material">


<table class="table table-hover table-bordered results">
  <thead class="thead-dark">
    <tr>
      <th *ngFor=" let header of header_list" scope="col">{{header}} </th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of material_list">
      <!-- <th scope="row">{{material.id}}</th> -->
      <th scope="row">{{material.name}}</th>
      <td>{{material.description}}</td>
      <td>{{material.price}}</td>
      <td><button type="submit" class="btn btn-success" (click)="show_edit_material(material.id)" >Editar</button></td>
      <td><button type="submit" class="btn " (click)="delete_material(material.id)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-success" (click)="add_material=true" >Agregar material</button>

</div>


<div class="container" *ngIf="add_material">
<h1>Inicio de session</h1>
  <form (ngSubmit)="onSubmitAdd()" #addMaterialForm="ngForm">

    <div class="form-group">
      <label for="name">Correo electronico</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="material_to_add.name" name="name"
             placeholder="varilla, cemento,etc">

      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        el nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="detail">Contrasena</label>
      <input type="text" class="form-control" id="detail"
             [(ngModel)]="material_to_add.description" name="detail"
             placeholder="datos del material">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!addMaterialForm.form.valid">Iniciar sesion</button>
  </form>
</div>


<div class="container" *ngIf="edit_material">
<h1>Editar material</h1>
  <form (ngSubmit)="onSubmitEdit()" #editMaterialForm="ngForm">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="material_to_edit.name" name="name"
              placeholder="varilla, cemento,etc">

      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        el nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="detail">Detalle</label>
      <input type="text" class="form-control" id="detail"
             [(ngModel)]="material_to_edit.description" name="detail"
             placeholder="datos del material">
    </div>

    <div class="form-group">
      <label for="detail">Precio</label>
      <input type="number" class="form-control" id="price"
             [(ngModel)]="material_to_edit.price" name="price">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!editMaterialForm.form.valid">Submit</button>
  </form>
</div>
