<div *ngIf="!add_employee && !edit_employee">


<table class="table table-hover table-bordered results">
  <thead class="thead-dark">
    <tr>
      <th *ngFor=" let header of header_list" scope="col">{{header}} </th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employee_list">
      <th scope="row">{{employee.cedula}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.FLname}}</td>
      <td>{{employee.SLname}}</td>
      <td>{{employee.Number}}</td>
      <td><button type="submit" class="btn btn-success" (click)="show_edit_employee(employee.id)" >Editar</button></td>
      <td><button type="submit" class="btn " (click)="delete_employee(employee.id)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-success" (click)="add_employee=true" >Agregar empleado</button>

</div>


<div class="container" *ngIf="add_employee">
<h1>Agregar empleado</h1>
  <form (ngSubmit)="onSubmitAdd()" #addEmployeeForm="ngForm">

    <div class="form-group">
      <label for="cedula">Cédula</label>
      <input type="number" class="form-control" id="cedula"
             required
             [(ngModel)]="employee_to_add.cedula" name="cedula"
             #cedula="ngModel" placeholder="601760756">

      <div [hidden]="cedula.valid || cedula.pristine"
           class="alert alert-danger">
        La cédula es requerida
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="employee_to_edit.name" name="name"
             #name="ngModel" placeholder="Kristy, Krissia, Verónica">

      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        EL nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="FLname">Primer Apellido</label>
      <input type="text" class="form-control" id="FLname"
             [(ngModel)]="employee_to_add.FLname" name="FLname"
             placeholder="Picado, Pacheco, Rodríguez">
    </div>

    <div class="form-group">
      <label for="SLname">Segundo Apellido</label>
      <input type="text" class="form-control" id="SLname"
             [(ngModel)]="employee_to_add.SLname" name="SLname"
             placeholder="Rosales, Garay, Flores">
    </div>

    <div class="form-group">
      <label for="Number">Teléfono</label>
      <input type="number" class="form-control" id="Number"
             [(ngModel)]="employee_to_add.Number" name="Number"
             placeholder="87654002">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!addEmployeeForm.form.valid">Submit</button>
  </form>
</div>


<div class="container" *ngIf="edit_employee">
<h1>Editar empleado</h1>
  <form (ngSubmit)="onSubmitEdit()" #editEmployeeForm="ngForm">

    <div class="form-group">
      <label for="cedula">Cédula</label>
      <input type="number" class="form-control" id="cedula"
             required
             [(ngModel)]="employee_to_add.cedula" name="cedula"
             #cedula="ngModel" placeholder="601760756">

      <div [hidden]="cedula.valid || cedula.pristine"
           class="alert alert-danger">
        La cédula es requerida
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="employee_to_edit.name" name="name"
             #name="ngModel" placeholder="Kristy, Krissia, Verónica">

      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        EL nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="FLname">Primer Apellido</label>
      <input type="text" class="form-control" id="FLname"
             [(ngModel)]="employee_to_edit.FLname" name="FLname"
             placeholder="Rodríguez, Agüero, Melloni">
    </div>

    <div class="form-group">
      <label for="SLname">Segundo Apellido</label>
      <input type="text" class="form-control" id="SLname"
             [(ngModel)]="employee_to_edit.SLname" name="SLname"
             placeholder="Delgado, Murillo, Campanini">
    </div>

    <div class="form-group">
      <label for="Number">Teléfono</label>
      <input type="number" class="form-control" id="Number"
             [(ngModel)]="employee_to_edit.Number" name="Number">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!editEmployeeForm.form.valid">Submit</button>
  </form>
</div>
