<div *ngIf="!add_employee && !edit_employee">


<table class="table table-hover table-bordered results">
  <thead class="thead-dark">
    <tr>
      <th *ngFor=" let header of header_list" scope="col">{{header}} </th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employee_list">
      <th scope="row">{{employee.identification}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.lastname1}}</td>
      <td>{{employee.lastname2}}</td>
      <!-- <td>{{employee.id_rol}}</td> -->
      <!-- <td>{{employee.carrer}}</td> -->
      <td>{{employee.phone}}</td>
      <td>{{employee.hour_cost}}</td>
      <td><button type="submit" class="btn btn-success" (click)="show_edit_employee(employee.id)" >Editar</button></td>
      <td><button type="submit" class="btn " (click)="delete_employee(employee.id)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-success" (click)="add_employee=true" >Agregar empleado</button>

</div>


<div class="container" *ngIf="add_employee">
<h1>Agregar empleado</h1>
  <form (ngSubmit)="onSubmitAdd()" #addEmployeeForm="ngForm">

    <div class="form-group">
      <label for="ssn">Cédula</label>
      <input type="text" class="form-control" id="ssn"
             required
             [(ngModel)]="employee_to_add.ssn" name="ssn"
             #ssn="ngModel" placeholder="601760756">

      <div [hidden]="ssn.valid || ssn.pristine"
           class="alert alert-danger">
        La cédula es requerida
      </div>
    </div>


    <div class="form-group">
      <label for="fname">Nombre</label>
      <input type="text" class="form-control" id="fname"
             required
             [(ngModel)]="employee_to_add.fname" name="fname"
              placeholder="Kristy, Krissia, Verónica"
              #fname="ngModel">

      <div [hidden]="fname.valid || fname.pristine"
           class="alert alert-danger">
        EL nombre es requerido
      </div>
    </div>


    <div class="form-group">
      <label for="lname1">Primer Apellido</label>
      <input type="text" class="form-control" id="lname1"
             [(ngModel)]="employee_to_add.lname1" name="lname1"
             placeholder="Picado, Pacheco, Rodríguez">
    </div>



    <div class="form-group">
      <label for="lname2">Segundo Apellido</label>
      <input type="text" class="form-control" id="lname2"
             [(ngModel)]="employee_to_add.lname2" name="lname2"
             placeholder="Rosales, Garay, Flores">
    </div>


    <div class="form-group">
      <label for="id_rol">Cargo</label>
      <input type="phone" class="form-control" id="id_rol"
             [(ngModel)]="employee_to_add.id_rol" name="id_rol"
             placeholder="1,2,3">
    </div>


    <div class="form-group">
      <label for="carrer">Especialidad</label>
      <input type="text" class="form-control" id="carrer"
             [(ngModel)]="employee_to_add.carrer" name="carrer"
             placeholder="Construcción, Civil, Eléctrico, No aplica">
    </div>


    <div class="form-group">
      <label for="Phone">Teléfono</label>
      <input type="phone" class="form-control" id="phone"
             [(ngModel)]="employee_to_add.phone" name="phone"
             placeholder="87654002">
    </div>


    <div class="form-group">
      <label for="payperhour">Pago Por Hora</label>
      <input type="payperhour" class="form-control" id="payperhour"
             [(ngModel)]="employee_to_add.payperhour" name="payperhour"
             placeholder="800">
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!addEmployeeForm.form.valid">Submit</button>
  </form>
</div>


<div class="container" *ngIf="edit_employee">
<h1>Editar empleado</h1>
  <form (ngSubmit)="onSubmitEdit()" #editEmployeeForm="ngForm">

    <div class="form-group">
      <label for="ssn">Cédula</label>
      <input type="text" class="form-control" id="ssn"
             required
             [(ngModel)]="employee_to_edit.ssn" name="ssn"
            #Essn="ngModel"   placeholder="601760756">

      <div [hidden]="Essn.valid || Essn.pristine"
           class="alert alert-danger">
        La cédula es requerida
      </div>
    </div>

    <div class="form-group">
      <label for="fname">Nombre</label>
      <input type="text" class="form-control" id="fname"
             required
             [(ngModel)]="employee_to_edit.fname" name="fname"
             #Efname="ngModel" placeholder="Kristy, Krissia, Verónica">

      <div [hidden]="Efname.valid || Efname.pristine"
           class="alert alert-danger">
        EL nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="lname1">Primer Apellido</label>
      <input type="text" class="form-control" id="lname1"
             [(ngModel)]="employee_to_edit.lname1" name="lname1"
             placeholder="Rodríguez, Agüero, Melloni">
    </div>

    <div class="form-group">
      <label for="lname2">Segundo Apellido</label>
      <input type="text" class="form-control" id="lname2"
             [(ngModel)]="employee_to_edit.lname2" name="lname2"
             placeholder="Delgado, Murillo, Campanini">
    </div>

    <div class="form-group">
      <label for="id_rol">Cargo</label>
      <input type="phone" class="form-control" id="id_rol"
             [(ngModel)]="employee_to_edit.id_rol" name="id_rol"
             placeholder="1,2,3">
    </div>


    <div class="form-group">
      <label for="carrer">Especialidad</label>
      <input type="text" class="form-control" id="carrer"
             [(ngModel)]="employee_to_edit.carrer" name="carrer"
             placeholder="Construcción, Civil, Eléctrico, No aplica">
    </div>


    <div class="form-group">
      <label for="phone">Teléfono</label>
      <input type="phone" class="form-control" id="phone"
             [(ngModel)]="employee_to_edit.phone" name="phone">
    </div>


    <div class="form-group">
      <label for="payperhour">Pago Por Hora</label>
      <input type="payperhour" class="form-control" id="payperhour"
             [(ngModel)]="employee_to_edit.payperhour" name="payperhour"
             placeholder="800">
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!editEmployeeForm.form.valid">Submit</button>
  </form>
</div>
