{{diagnostic}}
<div class="form-group">
  <label for="name">Nombre</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.fname" name="name">
</div>

<div class="form-group">
  <label for="lname1">Primer apellido</label>
  <input type="text"  class="form-control" id="lname1"
         required [(ngModel)]="model.lname1" name="lname1">
</div>

<div class="form-group">
  <label for="lname2">Segundo apellido</label>
  <input type="text"  class="form-control" id="lname2"
         required [(ngModel)]="model.lname2" name="lname2">
</div>

<div class="form-group">
  <label for="email">Email</label>
  <input type="email"  class="form-control" id="email"
         required [(ngModel)]="model.email" name="email">


       </div>
