<h1>Reporte Horas:</h1>

<form class="form-inline" (ngSubmit)="onSubmitAdd()" #addPayrollForm="ngForm" >
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Proyecto</label>



  <select class="custom-select my-1 mr-sm-2"  [(ngModel)]="payroll_to_add.project" name="projectID" >
    <option selected>Choose...</option>
    <option *ngFor=" let project of project_list"  [value]="project.id">{{project.name}}</option>

  </select>



  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Empleado</label>
  <select class="custom-select my-1 mr-sm-2" [(ngModel)]="payroll_to_add.employee" name="employeeID">
    <option selected>Choose...</option>
    <option *ngFor=" let employee of employee_list" [value]="employee.id">{{employee.fname + " " +employee.lname1 + " " + employee.lname2 }}</option>
  </select>



  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Horas</label>
  <input type="number" class="form-control" placeholder="0" name="hours">

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Fecha</label>
<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" name="date" ></dp-date-picker>
  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>




<!-- <div *ngIf="!add_material && !edit_material"> -->
  <div *ngIf="true">


<table class="table table-hover table-bordered results">
  <thead class="thead-dark">
    <tr>
      <th *ngFor=" let header of header_list" scope="col">{{header}} </th>
    </tr>
    <!-- <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr> -->
  </thead>
  <tbody>
    <tr *ngFor="let payroll of payroll_list">
      <!-- <th scope="row">{{material.id}}</th> -->
      <th scope="row">{{ getProjectName(payroll.project)}}</th>
      <td>{{ getEmployeeName(payroll.employee) }}</td>
      <td>{{payroll.hours}}</td>
      <td>{{payroll.date | date:'MM/dd/yyyy'}}</td>
      <!-- <td><button type="submit" class="btn btn-success" (click)="show_edit_material(material.id)" >Editar</button></td> -->
      <td><button type="submit" class="btn " (click)="delete_payroll(payroll.id)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<!-- <button type="submit" class="btn btn-success" (click)="add_material=true" >Agregar material</button> -->

</div>
